.ordertext{
    text-align: center;
}

.imgcenter{
    justify-content: center;
    align-items: center;
    display: flex;
}
.no-items{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textunderline:hover{
text-decoration: underline;
}

.marginbottom{
    margin-bottom: 5%;
}